<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=50.62.150.141; Initial Catalog=aandksolutions; User ID=sa; Password=B33nish#@!;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>